*{
    margin: 0;
    padding: 0;
}

.main{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#r{
    position: absolute;
    left: 250px;
}







.username{
    display: block;
}

input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

#uname{
    cursor: not-allowed;
}

.email{
    width: 200px;
}

.helper{
    opacity: 0.5;
}

.icon{
    width: 200px;
    display: flex;
    background-color: white;
}


#number{
    position: absolute;
    width: 200px;
}

.width{
    width: 100%;
}

.hover:hover {
    background-color: rgb(147, 213, 255);
    border: 2px solid red;
  }

  a:link {
    text-decoration: none;
}

a:hover{
    color: rgb(3, 192, 91);
}